<!DOCTYPE html>
<html>
<head>
	<title>Admin - Grade Management System</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	{% load staticfiles %}
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'GMS/materialize.css' %}"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div style="background-color:DodgerBlue;margin-top:3%;text-align:center">
		<a href="/adminPage/" style="font-size: 50px;color:white;align:left;">Welcome to IIT - Jodhpur<br>Grade Management System</a>
		<br>
	
</div>
<br>
<div class="verticalStrip">
</div>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" style="text-align:center">
        <li style="width:288px;text-align:center"><a href="/adminPage/">HOME</a></li>
        <li style="width:288px;text-align:center"><a href="/addStudent/">ADD STUDENT</a></li>
        <li style="width:288px;text-align:center"><a href="/addInstructor/">ADD INSTRUCTOR</a></li>
        <li style="width:288px;text-align:center"><a href="/addCourse/">ADD COURSE</a></li>
        <li style="width:288px;text-align:center"><a href="{% url 'GMS:logout' %}">LOGOUT</a></li>
      </ul>
    </div>
  </nav>

<div style="background-color:SlateBlue">
	<p style="font-size:22pt; color:white">ADD COURSE :: </p>
</div>
<!-- <div class="container" style="margin-top:0%; padding:5px;"> -->
	<!-- <div class="row" style="padding:10px;"> -->
		<form method="post" action="{% url 'GMS:saveCourse' %}">
			{% csrf_token %}
			{% if form.errors %}
				<div class="row">
					<div class="col s12 m6 offset-m3 l3 offset-l4" style="color:red;">
						<!-- <p>Username or password is incorrect.</p> -->
						<p>Please try again.</p>
					</div>
				</div>
			{% endif %}
			{% if error_message %}
				<div class="row">
					<div class="col s12 m6 offset-m3 l3 offset-l4" style="color:red;">
						{{error_message}}
						<p>Please try again.</p>
					</div>
				</div>
			{% endif %}
			<div class="row" align="center">
		      <div class="row">
		        <div class="input-field col s5">
		          <input name="name" type="text" class="validate">
		          <label for="name">Name</label></input>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s5">
		          <input name="courseid" type="text" class="validate">
		          <label for="courseid">Course ID</label>
		        </div>
		      </div>
		      <!-- <div class="row">
		        <div class="input-field col s5">
		          <input name="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		      </div> -->
		      <!-- <div class="row">
		      	<label style="margin-right:91.8%;font-size:15px">Branch Select</label>
		      <div class="input-field col s5" >
			    <select class="browser-default" name="branch">
			      <option value="" disabled selected>Choose your option</option>
			      <option value=1>Computer Science and Engineering</option>
			      <option value=2>Electrical Engineering</option>
			      <option value=3>Mechanical Engineering</option>
			    </select>
			  </div>
			</div> -->
			<div class="row">
		        <div class="input-field col s5">
		          <input id="LTP" name="LTP" type="email" class="validate">
		          <label for="LTP">L-T-P</label>
		        </div>
		      </div>
		      <div class="row">
		      	<label style="margin-right:92.3%;font-size:15px">Credit Select</label>
		      <div class="input-field col s5" >
			    <select class="browser-default" name="credit">
			      <option value="" disabled selected>Choose your option</option>
			      <option value=5>5</option>
			      <option value=4>4</option>
			      <option value=3>3</option>
			      <option value=0>0</option>
			    </select>
			  </div>
			</div>		
			<div class="row">
		      	<label style="margin-right:89.0%;font-size:15px">Course Type Select</label>
		      <div class="input-field col s5" >
			    <select class="browser-default" name="courseType">
			      <option value="" disabled selected>Choose your option</option>
			      <option value=0>Audit</option>
			      <option value=1>Credit</option>
			    </select>
			  </div>
			</div>		
		      <div class="row">
		        <div class="input-field col s5">
		          <input id="Iuserid" name="Iuserid" type="text" class="validate">
		          <label for="Iuserid">Instructor User - ID</label>
		        </div>
		      </div>
		  </div>
		  &nbsp;
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    		<input type="hidden" name="next" value="{{ next }}" />
  			</button>
  			&nbsp;&nbsp;&nbsp;
  			<button class="btn waves-effect waves-light" type="reset" name="action">reset
  			</button>
  			<br>
  			<br>
  			<br>
		</form>
	<!-- </div> -->
<!-- </div> -->





{# {% load staticfiles %} #}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'GMS/materialize.js' %}"></script>
</body>
</html>