<!DOCTYPE html>
<html>
<head>
	<title>Admin - Grade Management System</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	{% load staticfiles %}
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'GMS/materialize.css' %}"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<p style="font-size:16pt;margin-top:0%;background-color:#90EE90;color:white;text-align:center">Course added to the database successfully.</p>
<div style="background-color:DodgerBlue;text-align:center">
		<a href="/adminPage/" style="font-size: 50px;color:white;align:left;">Welcome to IIT - Jodhpur<br>Grade Management System</a>
		<br>
	
</div>
<br>
<div class="verticalStrip">
</div>
<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" style="text-align:center">
        <li style="width:239.8px;text-align:center"><a href="/adminPage/">HOME</a></li>
        <li style="width:239.8px;text-align:center"><a href="/addStudent/">ADD STUDENT</a></li>
        <li style="width:239.8px;text-align:center"><a href="/addInstructor/">ADD INSTRUCTOR</a></li>
        <li style="width:239.8px;text-align:center"><a href="/addCourse/">ADD COURSE</a></li>
        <li style="width:239.8px;text-align:center"><a href="/registerStudent/">REGISTER STUDENT</a></li>
        <li style="width:239.8px;text-align:center"><a href="{% url 'GMS:logout' %}">LOGOUT</a></li>
      </ul>
    </div>
  </nav>


<div style="background-color:SlateBlue">
	<p style="font-size:22pt; color:white"> PERSONAL INFORMATION :: </p>
</div>
<br>
<table class="highlight" style="background-color:#FFF5EE">
	<thead>
	</thead>

	<tbody style="font-size:20px;">
		<tr>
			<td><b>NAME ::</b></td>
			<td>{{ user.name}}</td>
		</tr>
		<tr>
			<td><b>USER - ID ::</b></td>
			<td>{{ user.userID}}</td>
		</tr>
		<tr>
			<td><b>E-MAIL ::</b></td>
			<td>{{ user.email}}</td>
		</tr>
		<tr>
			<td><b>CONTACT ::</b></td>
			<td>{{ user.contact}}</td>
		</tr>
	</tbody>
</table>


{# {% load staticfiles %} #}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'GMS/materialize.js' %}"></script>
</body>
</html>